/*
 * Ensure CSS inclusion doesn't regress
 * https://github.com/express-ts/create-npack-app/issues/2677
 */
@import '~normalize.css/normalize.css';

#feature-css-inclusion {
  background: palevioletred;
  color: papayawhip;
}
